<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">{{Nom du restaurant}}</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="index.html">Accueil</a>
            <a class="p-2 text-dark" href="nosplats.html">Nos plats</a>

        </nav>
        <a class="btn btn-outline-primary" href="connect.html">Connexion</a>
    </div>
</header>
<body>
<div class="album py-5 bg-light">
    <div class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">La fourchette à Bretelle</h1>
                <p class="lead text-muted">La fourchette à bretalle est LA chaine de restauration qui cartonne</p>
            </div>
        </section>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="348" height="225" id="gmap_canvas" src="https://maps.google.com/maps?q=12%2C%20rue%20legraverend&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pure black</a></div><style>.mapouter{text-align:right;height:225px;width:348px;}.gmap_canvas {overflow:hidden;background:none!important;height:225px;width:348px;}</style></div>
                    <div class="card-body">
                       <p>FAB RENNES</p>
                        <p class="card-text">12 rue Legraverend, 35000 Rennes</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"  onclick="getRestaurants(5)" data-toggle="modal" data-target="#Modal">Reserver</button>
                                <a href="commande.html"><button type="button" class="btn btn-sm btn-outline-secondary">Commander</button></a>
                                <button  class="btn btn-sm btn-outline-secondary"   onclick="getReservation(5)" >voir les reservation</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="348" height="225" id="gmap_canvas" src="https://maps.google.com/maps?q=1%2C%20rue%20des%20tuileries&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pure black</a></div><style>.mapouter{text-align:right;height:225px;width:348px;}.gmap_canvas {overflow:hidden;background:none!important;height:225px;width:348px;}</style></div>
                    <div class="card-body">
                        <p>FAB Nantes</p>
                        <p class="card-text">1 rue des tuileries, 44000 Nantes</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="getRestaurants(6)" data-toggle="modal" data-target="#Modal">Reserver</button>
                                <a href="commande.html"> <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button></a>
                                <button  class="btn btn-sm btn-outline-secondary"   onclick="getReservation(6)" >voir les reservation</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="348" height="225" id="gmap_canvas" src="https://maps.google.com/maps?q=12%2C%20rue%20jean%20jores%20brest&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pure black</a></div><style>.mapouter{text-align:right;height:225px;width:348px;}.gmap_canvas {overflow:hidden;background:none!important;height:225px;width:348px;}</style></div>
                    <div class="card-body">
                        <p>FAB Brest</p>
                        <p class="card-text">12 rue Jean Jaures, 29000 Brest</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button  class="btn btn-sm btn-outline-secondary"   onclick="getRestaurants(7)" data-toggle="modal" data-target="#Modal">Reserver</button>
                                <a href="commande.html"><button  class="btn btn-sm btn-outline-secondary"> Commander</button></a>
                                <button  class="btn btn-sm btn-outline-secondary"   onclick="getReservation(7)" >voir les reservation</button>


                            </div>
                    </div>
                </div>
            </div>
            </div>


                <!-- Modal  -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rennesModalLabel">Reservation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"  ng-app="app" ng-controller="MainController">
                                <form ng-submit="main.addShow()" >
                                    <!--    <div class="form-group">
                                       <label for="nom">Nom</label>
                                       <input ng-model="main.new.nom" type="text" name="nom" id="nom" class="form-control">
                                       </div>

                                       <div class="form-group">
                                       <label for="prenom">Prenom</label>
                                       <input ng-model="main.new.prenom"  type="text" name="prenom" id="prenom" class="form-control">
                                       </div>

                                       <div class="form-group">
                                       <label for="telephone">Telephone</label>
                                       <input type="text" name="telephone" id="telephone" class="form-control">
                                       </div>
    -->
                                    <div class="form-group">
                                        <label for="numPlace">nombre de places</label>
                                        <input type="number" name="numPlace" id="numPlace" class="form-control">
                                    </div>
                                       <div class="form-group">
                                           <label for="reservation">Date de reservation</label>
                                       <!--   <input type="datetime-local" name="reservation" id="reservation" class="form-control">   -->
                                        <input type="text" name="reservation" id="reservation" class="form-control">
                                    </div>
                                    <button  class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button  class="btn btn-primary" data-dismiss="modal" onclick="ajoutreservation()">Reserver</button>
                                </form>


                            <h3>Reservation</h3>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="show in main.shows"><span class="glyphicon glyphicon-star" ng-if="show.favorite"></span> {{show.nom}} <span class="badge">{{show.prenom}}</span></li>
                            </ul>  </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/protractor@5.4.1/built/index.min.js"></script>



    <script>
        angular.module('app', []);

        angular.module('app').controller("MainController", function(){
            var vm = this;
            vm.title = 'AngularJS Tutorial Example';
            vm.searchInput = '';
            vm.shows = [

            ];
            vm.orders = [

            ];
            vm.order = vm.orders[0];
            vm.new = {};
            vm.addShow = function() {
                vm.shows.push(vm.new);
                vm.new = {};
            };
        });
    </script>

    <script>
        var restaurant =[];
        //getRestaurants();

        function ajoutreservation() {
console.log(document.getElementById('reservation').value);


            var postParams=
                {
                    "dateReservation":document.getElementById('reservation').value,
                    "numPlaces":document.getElementById('numPlace').value
                };

                fetch("http://10.48.101.6:8080/ProjectFinalFAB2/reservations/idUser=1&idRestaurant=" +restaurant["id"], {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(postParams)
                })
                    .then(function functionName(response) {
                        return response.json();
                    }) .then(function functionName(data) {
                        alert("un appel sera effectué pour confirmer votre réservation dans le restaurant "+ restaurant["name"]+" a cette date: " + postParams["dateReservation"]);

                });


            }

function getRestaurants(idRestautrant){

        fetch("http://10.48.101.6:8080/ProjectFinalFAB2/restaurants/"+idRestautrant)
            .then(function functionName(response) {
                return response.json()
            })
            .then(function functionName(data) {
                restaurant= data;


            });

        }

        function getReservation(idRestautrant){

            fetch("http://10.48.101.6:8080/ProjectFinalFAB2/restaurants/"+idRestautrant)
                .then(function functionName(response) {
                    return response.json()
                })
                .then(function functionName(data) {
                    restaurant= data;
                    console.log(restaurant["reservations"].length);
                    alert("nombre de reservation :"+restaurant["reservations"].length)

                });

        }



    </script>
</footer>
</html>